<h1>Listing dockerservers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dockerservers.each do |dockerserver| %>
      <tr>
        <td><%= dockerserver.name %></td>
        <td><%= dockerserver.url %></td>
        <td><%= link_to 'Show', dockerserver %></td>
        <td><%= link_to 'Edit', edit_dockerserver_path(dockerserver) %></td>
        <td><%= link_to 'Destroy', dockerserver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dockerserver', new_dockerserver_path %>
